h1{
    color: darkviolet;
    width: 1200px;
    text-align: center;
}

p{
    color: darkviolet;
    width: 1200px;
    text-align: center;
}

nav{
    text-align: center;
    width: 1200px;
    letter-spacing: 2px;
}


